@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary-color: #2e6e85;
}

body {
  background: #131722 !important;
  font-family: "Montserrat Alternates", sans-serif;
  color:white !important;
}

.bg_primary {
  background: var(--primary-color);
}
.img{
  height: 300px !important;
  display: block;
  margin: auto;
  }
  .vote{
      background: var(--primary-color);
      padding: 5px;
      top: 0;
      right: 0;
  }
  .bg_nav{
      
      background: var(--primary-color);
  
  }
  .fontawesome{
      font-size: 60px;
      padding: 0;
      margin: 0;
  }
  @media screen and (max-width: 768px){
     .img{
        width: 80% !important;
      }
      .vote{
        padding: 5px;
        top: 0;
        right:10% !important;
    }
    button.btn.rounded-pill.p-0  {
      width: 75% !important;
      margin-bottom: 15px !important;
    }
  }